.carousel .carousel-item {
  height: 80vh;
}

.carousel-item img {
  min-height: 80vh;
  position: absolute;
  top : 0;
  left: 0;
}


h5 {
  font-size: 44px;
}

p.beer-subtitle {
  font-size: 24px;
}
